<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>
  </head>
  <body>
      <h1 class="text-center my-9 text-xl " >welcome in Login from</h1>
    <div class="w-1/2 mx-auto my-8">
         {% if messages %}
          {% for  message in messages  %}
          <p class="bg-green-500">{{message}}</p>
          {% endfor %}
         {% endif %}
      <form method="POST">
        {% csrf_token %} {{ form }}
        <button
          action="{% url 'sign_in' %}"
          class="bg-blue-500 px-2 py-1 rounded text-white mt-3"
          type="submit"
        >
          Sign in
        </button>
      </form>
    </div>
  </body>
</html>
