 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>


    <title>Document</title>
</head>
<body>
    <nav>

<div class="bg-green-100">
  <!-- Header -->
  <header class="absolute inset-x-0 top-0 z-50">
    <nav class=" bg-green-500 flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">EventHub</span>
          <img class="h-8 w-auto" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="EventHub logo" />
        </a>
      </div>
      <div class="flex lg:hidden">
        <button type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg class="size-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
{% if 'Admin' in user_groups %}
    <a href="{% url 'admin_dashboard' %}" class="text-sm font-semibold text-gray-900">Admin</a>
    <a href="{% url 'dashboard' %}" class="text-sm font-semibold text-gray-900">Dashboard</a>
    <a href="{% url 'rsvp_all' %}" class="text-sm font-semibold text-gray-900">Participant</a>

{% elif 'Organizer' in user_groups %}
    <a href="{% url 'dashboard' %}" class="text-sm font-semibold text-gray-900">Dashboard</a>

{% elif 'participate' in user_groups %}
    <a href="{% url 'rsvp_all' %}" class="text-sm font-semibold text-gray-900">Participant</a>

{% endif %}
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <form action="{% url "logout" %}" method="POST">
            {% csrf_token %}
            <button  type="submit">logout</button>
            
        </form>
      </div>
    </nav>

    <!-- Mobile Menu -->
    <el-dialog>
      <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
        <div tabindex="0" class="fixed inset-0 focus:outline-none">
          <el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
              <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">EventHub</span>
                <img class="h-8 w-auto" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="EventHub logo" />
              </a>
              <button type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Close menu</span>
                <svg class="size-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="mt-6 flow-root">
              <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
            {% if 'Admin' in user_groups %}
            <a href="{% url 'admin_dashboard' %}" class="text-sm font-semibold text-gray-900">Admin</a>
            {% endif %}
                  <a href="#" class="block px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50">Events</a>
                  <a href="#" class="block px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50">Dashboard</a>
                  <a href="#" class="block px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50">Contact</a>
                </div>
                <div class="py-6">
                   <form action="{% url "logout" %}" method="POST">
            {% csrf_token %}
            <button type="submit">logout</button>
            
        </form>
                </div>
              </div>
            </div>
          </el-dialog-panel>
        </div>
      </dialog>
    </el-dialog>
  </header>

  <!-- Hero Section -->
  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56 text-center">
      <h2 >
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Welcome
        {% if user.is_authenticated %}
    {{user}}
    {% else %}
    annyoumas
    {% endif %}    
        </h1>
    
      </h2>
      <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-3xl">
        All Your Events in One Place
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        Discover events, RSVP instantly, and manage everything in one dashboard.
        Simplify your event experience with our platform.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="#" class="rounded-md bg-indigo-600 px-4 py-2.5 text-sm font-semibold text-white hover:bg-indigo-500 shadow-md">Browse Events</a>
        <a href="#" class="text-sm font-semibold text-gray-900">Learn more <span aria-hidden="true">→</span></a>
      </div>
    </div>
  </div>
</div>



    </nav>
   
</body>
</html>